<div class="mt-5">
  <table class="table table-bordered">
    <thead class="thead">
    <tr>
<!--      <th>ID</th>-->
      <th>Title</th>
<!--      <th>Birthday</th>-->
      <th>Email</th>
      <th>Username</th>
      <th>Fullname</th>
<!--      <th>Password</th>-->
      <th>Neptun ID</th>
<!--      <th>Mothers maiden name</th>-->
<!--      <th>Birthplace</th>-->
      <th>Workplace</th>
<!--      <th>PedigreeNumber</th>-->
      <th>Post</th>
      <th>Role</th>
      <th>UPDATE</th>
      <th>DELETE</th>
    </tr>
    </thead>
    <tbody class="tbody">
    <tr *ngFor="let e of data | orderBy: key: reverse | paginate: {itemsPerPage : 25, currentPage: p};">
<!--      <td>{{ e.userId }}</td>-->
      <td>{{ e.title }}</td>
<!--      <td>{{ e.birthday }}</td>-->
      <td>{{ e.email }}</td>
      <td>{{ e.username }}</td>
      <td>{{ e.fullname }}</td>
<!--      <td>{{ e.password }}</td>-->
      <td>{{ e.neptunCode }}</td>
<!--      <td>{{ e.mothersMaidenName }}</td>-->
<!--      <td>{{ e.birthplace }}</td>-->
      <td>{{ e.workplace }}</td>
<!--      <td>{{ e.pedigreeNumber }}</td>-->
      <td>{{ e.post }}</td>
      <td>{{ roleMatching(e.roleId) }}</td>

      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal"
                (click)="edit(e)">Update
        </button>
      </td>
      <td>
        <button type="button" (click)="deleteUser(e)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div class="modal " id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel"
     xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Rekord módosítása</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form #updateThesesesForm="ngForm" (ngSubmit)="updateUsers()">

          <label for="title">Cím</label>
          <input type="text" [(ngModel)]="usersForUpdate.title" name="title" id="userTitle"
                 placeholder="Felhasználó titulusa">

<!--          <label for="birthday">Születésnap:</label>-->
<!--          <input type="date" [(ngModel)]="usersForUpdate.birthday" name="birthday" id="birthday"-->
<!--                 placeholder="Születésnap">-->

          <label for="email">Email:</label>
          <input type="text" [(ngModel)]="usersForUpdate.email" name="email" id="email" placeholder="Email">

          <label for="username">FelhasználóNév:</label>
          <input type="text" [(ngModel)]="usersForUpdate.username" name="username" id="username"
                 placeholder="FelhasználóNév">

          <label for="fullname">Teljes név:</label>
          <input type="text" [(ngModel)]="usersForUpdate.fullname" name="fullname" id="fullname"
                 placeholder="Teljes név">

          <label for="neptunCode">Neptun kód:</label>
          <input type="text" [(ngModel)]="usersForUpdate.neptunCode" name="neptunCode" id="neptunCode"
                 placeholder="Neptunkód">

<!--          <label for="mothersMaidenName">Anyja neve:</label>-->
<!--          <input type="text" [(ngModel)]="usersForUpdate.mothersMaidenName" name="mothersMaidenName"-->
<!--                 id="mothersMaidenName" placeholder="Anyja neve">-->

<!--          <label for="birthPlace">Születési hely:</label>-->
<!--          <input type="text" [(ngModel)]="usersForUpdate.birthPlace" name="birthPlace" id="birthPlace"-->
<!--                 placeholder="Születési hely">-->

          <label for="workplace">Munkahely:</label>
          <input type="text" [(ngModel)]="usersForUpdate.workplace" name="workplace" id="workplace"
                 placeholder="Munkahely">

<!--          <label for="pedigreeNumber">Törzskönyvi szám:</label>-->
<!--          <input type="text" [(ngModel)]="usersForUpdate.pedigreeNumber" name="pedigreeNumber" id="pedigreeNumber"-->
<!--                 placeholder="Törzskönyvi szám">-->

          <mat-form-field>
            <mat-select name="roleId" [(ngModel)]="usersForUpdate.roleId" (ngModelChange)="onRoleChange()">
              <mat-option *ngFor="let item of rolesToDropDownList" [value]="item.roleId">{{ item.role }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="isVisiblePostField">

            <label for="post">Beosztás:</label>
            <input type="text" name="post" [(ngModel)]="usersForUpdate.post" id="post" placeholder="Beosztás">
          </div>

          <div *ngIf="isDropdownList">

            <mat-form-field>
              <mat-label>Select a post!</mat-label>
              <mat-select name="post" [(ngModel)]="usersForUpdate.post">
                <mat-option *ngFor="let item of postsToDropDownList" [value]="item.post">{{ item.post }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>


          <input type="submit" value="Módosítás" data-bs-dismiss="modal">
        </form>
      </div>
    </div>
  </div>
</div>
