textarea {
  width: 300px;
  height: 150px;
  resize: both;

}

.form-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.form-separator {
  margin-bottom: 20px;
}

.form-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-error {
  color: red;
  margin-bottom: 10px;
}

.form-input {
  width: calc(100% - 90px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-info {
  display: inline-block;
  margin-left: 10px;
  color: #666;
  float: right;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

