<!--<h1>Default credentials: username / password</h1>-->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 shadow">
        <h2 class="text-center mb-4">Bejelentkezés</h2>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="mb-3">
            <input type="text"
                   ngModel
                   name="userName"
                   id="userName"
                   placeholder="Felhasználónév"
                   class="form-control"
            >
          </div>
          <div class="mb-3">
            <input type="password"
                   ngModel
                   name="userPassword"
                   id="userPassword"
                   placeholder="Jelszó"
                   class="form-control"
            >
          </div>
          <button type="submit" class="btn btn-dark btn-block">Bejelentkezés</button>
        </form>
      </div>
    </div>
  </div>




  <!--
    <div class="alert alert-success" role="alert">
      A simple success alert—check it out!
    </div>

    <div class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
   -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center p-4 shadow">
          <input type="button" value="Elfelejtett jelszó" class="btn btn-danger" (click)="openModal()"/>
        </div>
      </div>
    </div>
  </div>

<!-- Elfelejtett jelszó modal -->
<div class="modal" id="forgottenPwModal" tabindex="-1" aria-labelledby="forgottenPwModalLabel"
     [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="forgottenPwModalLabel">Új jelszó igénylése</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="onCloseHandled()"></button>
      </div>
      <div class="modal-body">
        <form #forgotten="ngForm" (ngSubmit)="forgottenPw()">
          <div class="mb-3">
            <label for="username" class="form-label">Felhasználónév</label>
            <input type="text" name="username" [(ngModel)]="forgottenPwForm.username" class="form-control"
                    placeholder="Felhasználónév">
          </div>
          <p class="mb-3">A lenti gombra kattintva a regisztrációkor a felhasználónévhez rendelt e-mail címre egy e-mailt küld a rendszer, benne egy tokennel. Ezzel lehet új jelszót beállítani a következő lépésben.</p>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="showNewPwModal()">Új jelszó igénylése</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Új jelszó beállítása modal -->
<div class="modal" id="newPwModal" tabindex="-1" aria-labelledby="newPwModalLabel"
     [ngStyle]="{'display':showPwChangeModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPwModalLabel">Új jelszó beállítása</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closePwChangeModal()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="changePw()" [formGroup]="changePwForm">
          <div class="mb-3">
            <label for="username" class="form-label">Felhasználónév</label>
            <input type="text" name="username" formControlName="username" class="form-control"
                    placeholder="Felhasználónév">
          </div>
          <div class="mb-3">
            <label for="token" class="form-label">Token</label>
            <input type="text" name="token" formControlName="token" class="form-control"
                   id="token" placeholder="Token">
          </div>
          <div class="mb-3">
            <label for="newPw" class="form-label">Új jelszó</label>
            <input type="password" name="newPw" formControlName="newPassword" class="form-control"
                   id="newPw" placeholder="Új jelszó">
          </div>
          <div class="mb-3">
            <label for="confPw" class="form-label">Új jelszó ismét</label>
            <input type="password" name="confPw" formControlName="confirmPassword" class="form-control"
                   id="confPw" placeholder="Új jelszó ismét">
          </div>
          <div style="color: red;" *ngIf="changePwForm.errors?.['matchPwValidator']"> A két jelszó nem egyezik!</div>
          <p class="mb-3">A lenti gombra kattintva a regisztrációkor a felhasználónévhez rendelt e-mail címre egy e-mailt küld a rendszer, benne egy tokennel. Ezzel lehet új jelszót beállítani a következő lépésben.</p>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="closePwChangeModal()">Új jelszó beállítása</button>
        </form>
      </div>
    </div>
  </div>
</div>
