<h1 style="margin: 0 auto; text-align: center;">Jelszó változatás</h1>

<br>

<div class="card text-center" style="padding: 20px;">
  <input type="button" value="Jelszó változtatás" class="btn btn-danger" (click)="openModal()"/>
</div>


<div class="modal " id="newPwModal" tabindex="-1" aria-labelledby="newPwModalLabel"
     [ngStyle]="{'display':showPwChangeModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newPwModalLabel">Új jelszó beállítása</h1>


        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closePwChangeModal()"></button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="changePw()" [formGroup]="changePwForm">
          <input type="password" name="password" formControlName="password" placeholder="Password"><br>
          <input type="password" name="newPw" formControlName="newPassword" placeholder="Új jelszó"><br>
          <input type="password" name="confPw" formControlName="confirmPassword" placeholder="Új jelszó ismét">
          <div style="color: red;" *ngIf="changePwForm.errors?.['matchPwValidator']"> A két jelszó nem egyezik!</div>
          <p>A lenti gombra kattintva a felhasználó módosítani tudja a jelszavát.</p>

          <input type="submit" value="Új jelszó beállítása" data-bs-dismiss="Modal" (click)="closePwChangeModal()">
        </form>
      </div>
    </div>
  </div>
</div>

