<h1 style="text-align: center">Szakdolgozat adatainak listázása</h1>

<div class="container">

  <div class="container">
    <input type="text" class="form-control" placeholder="Enter thesis title to search" [(ngModel)]="title"
           (ngModelChange)="searchForTitle()">
  </div>

  <div class="container">
    <input class="form-control" type="text" name="student" [(ngModel)]="student" (ngModelChange)="searchForStudent()"
           placeholder="Enter student name to search">
  </div>

  <div class="container-fluid">
    <mat-form-field class="w-100">
      <input matInput [matDatepicker]="searchDatePicker" name="searchSubmissionDate" [(ngModel)]="submissionDate" (ngModelChange)="searchForSubmissionDate()"
             placeholder="Adja meg a szakdolgozat beadásának idejét! (ÉÉÉÉ.HH.NN)">
      <mat-datepicker-toggle matSuffix [for]="searchDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #searchDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead class="thead">
      <tr>
        <th (click)="sort('user.fullname')">Hallgató neve<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('title')">Dolgozat címe<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('faculty')">Kar<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('department')">Tanszék<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('speciality')">Szak<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('language')">Nyelv<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('hasMscApply')">MSC jelentkezés<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('submissionDate')">Benyújtás ideje<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('answer')">Megjegyzés<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('topicScore')">Tételre kapott osztályzat<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('supervisor.fullname')">Témavezető neve<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th (click)="sort('consultant.fullname')">Konzulens neve<span [hidden]="reverse">▲</span><span [hidden]="!reverse">▼</span> <i class="fa fa-sort"></i></th>
        <th>UPDATE</th>
        <th>DELETE</th>
        <th>Tételhúzás</th>
        <th style="width: 70px">Mit húzott a hallgató?</th>
      </tr>
      </thead>
      <tbody class="tbody">
      <tr *ngFor="let e of data | orderBy: key: reverse | paginate: {itemsPerPage : 25, currentPage: p};">
        <td>{{ e.user.fullname }}</td>
        <td>{{ e.title }}</td>
        <td>{{ e.faculty }}</td>
        <td>{{ e.department }}</td>
        <td>{{ e.speciality }}</td>
        <td>{{ e.language }}</td>
        <td>{{ e.hasMscApply }}</td>
        <td>{{ e.submissionDate }}</td>
        <td><span *ngIf="e.answer != null; else elseBlockForNoAnswer"></span> {{ e.answer }}</td>
        <td>{{ e.topicScore }}</td>
        <td><span *ngIf="e.supervisor.title!= null">{{e.supervisor.title + ' ' }}</span> {{e.supervisor.fullname }}</td>
        <td><span *ngIf="e.consultant != null; else elseBlockForNoConsultant"> <span *ngIf="e.consultant.title != null">{{e.consultant.title + ' ' }}</span> {{ e.consultant.fullname }}</span></td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="edit(e)">Update</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteTheses(e)">Delete</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseTopicModal" (click)="addTopic(e)">Új tétel</button>
        </td>
        <td *ngIf=" e.topics !== null; else elseBlock">{{ e.topics.topic }}</td>
        <ng-template #elseBlock><td>A hallgató még nem húzott tételt.</td></ng-template>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>


  <ng-template #elseBlockForNoConsultant>Nincs konzulense</ng-template>
  <ng-template #elseBlockForNoAnswer>Nincs megjegyzés</ng-template>



  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #007bff; color: #ffffff;">
          <h2 class="modal-title" id="updateModalLabel">Szakdolgozat módosítása</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <form #updateThesesesForm="ngForm" (ngSubmit)="updateTheses()">

            <div class="mb-3">
            <label for="title" class="form-label">Cím</label>
            <input type="text" [(ngModel)]="thesesForUpdate.title" name="title" id="thesesTitle" class="form-control"
                   placeholder="Szakdolgozat címe">
            </div>

            <div class="mb-3">
            <mat-form-field>
              <mat-label>Hallgató kiválasztása</mat-label>
              <mat-select name="students" [(ngModel)]="thesesForUpdate.userId">
                <mat-option *ngFor="let item of studentlist" [value]="item.userId">{{ item.fullname }}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>

            <div class="mb-3">
            <mat-form-field>
              <mat-label>Témavezető kiválasztása</mat-label>
              <mat-select name="supervisorId" [(ngModel)]="thesesForUpdate.supervisorId">
                <mat-option *ngFor="let item of supervisorlist" [value]="item.userId">{{ item.fullname }}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>

            <div class="mb-3">
            <mat-form-field>
              <mat-label>Konzulens kiválasztása</mat-label>
              <mat-select name="consultantId" [(ngModel)]="thesesForUpdate.consultantId">
                <mat-option *ngFor="let item of consultantlist" [value]="item.userId">{{ item.fullname }}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field class="w-100">
                <mat-label>Szakdolgozat benyújtási ideje:</mat-label>
                <input matInput [matDatepicker]="submissionDatePicker" name="submissionDate" [(ngModel)]="thesesForUpdate.submissionDate"
                       placeholder="Szakdolgozat benyújtási ideje">
                <mat-datepicker-toggle matSuffix [for]="submissionDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #submissionDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="mb-3">
            <label for="faculty" class="form-label">Egyetemi kar:</label>
            <input type="text" [(ngModel)]="thesesForUpdate.faculty" name="faculty" id="faculty" class="form-control"
                   placeholder="Egyetemi kar">
            </div>

            <div class="mb-3">
            <label for="department" class="form-label">Tanszék:</label>
            <input type="text" [(ngModel)]="thesesForUpdate.department" name="department" id="department" class="form-control"
                   placeholder="Tanszék">
            </div>

            <div class="mb-3">
            <label for="speciality" class="form-label">Szak:</label>
            <input type="text" [(ngModel)]="thesesForUpdate.speciality" name="speciality" id="speciality" class="form-control"
                   placeholder="Szak">
            </div>

            <div class="mb-3">
            <label for="language" class="form-label">Nyelv:</label>
            <input type="text" [(ngModel)]="thesesForUpdate.language" name="language" id="language" class="form-control" placeholder="Nyelv">
            </div>

            <div class="mb-3">
            <label for="hasMscApply">MSc-re jelentkezem:</label>
            <input type="checkbox" [(ngModel)]="thesesForUpdate.hasMscApply" name="hasMscApply" id="hasMscApply" class="form-check-label"
                   [(ngModel)]="jelentkezik">
            </div>

            <div class="mb-3">
            <label for="answer" class="form-label">Megjegyzés:</label>
            <textarea [(ngModel)]="thesesForUpdate.answer" name="answer" id="answer" class="form-control"
                      placeholder="Megjegyzés"></textarea>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary me-md-2" data-bs-dismiss="modal">Módosítás</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="chooseTopicModal" tabindex="-1" aria-labelledby="chooseTopicModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="chooseTopicModalLabel">Tétel adatainak megadása</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #chooseTopicForm="ngForm" (ngSubmit)="chooseTopic()">
            <div class="form-group">
              <label for="title">Cím</label>
              <input type="text" disabled [(ngModel)]="thesisToDisplay.title" name="title" id="title"
                     placeholder="Szakdolgozat címe">
            </div>

            <div class="form-group">

              <mat-form-field style="width:400px">
                <mat-label>Tétel kiválasztása</mat-label>
                <mat-select name="students" [(ngModel)]="selectedTopicId">
                  <mat-option *ngFor="let item of topicsToDropdownList" [value]="item.id">{{ item.topic }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">

              <mat-form-field style="width:400px">
                <mat-label>Jegy kiválasztása</mat-label>
                <mat-select name="grade" [(ngModel)]="selectedGrade">
                  <mat-option *ngFor="let item of gradesToDropDownList" [value]="item.gradeId">{{ item.grade }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <input type="submit" value="OK" class="btn btn-primary w-100" data-bs-dismiss="modal">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

