<div class="container" >
  <input class="form-control" type="text" name="student" [(ngModel)] = "fullname" (ngModelChange) = "searchForStudent()"
         placeholder="Enter student name to search">
</div>

<div class="container">
  <input type="text" class="form-control" placeholder="Enter neptun code to search" [(ngModel)]="neptunCode" (ngModelChange)="searchForNeptunCode()">
</div>

<div class="container">
  <input type="text" class="form-control" placeholder="Enter thesis title to search" [(ngModel)]="title" (ngModelChange)="searchForTitle()">
</div>

<div class="container">
  <input type="text" class="form-control" placeholder="Enter supervisor name to search" [(ngModel)]="supervisorname" (ngModelChange)="searchForSupervisor()">
</div>

<div class="container">
  <input type="text" class="form-control" placeholder="Enter reviewer name to search" [(ngModel)]="reviewername" (ngModelChange)="searchForReviewer()">
</div>



<div class="mt-5" >
  <table class="table table-bordered">
    <thead class="thead">
    <tr>
      <th>Neptunkód</th>
      <th>Hallgató neve</th>
      <th>Témavezető név</th>
      <th>Bíráló név</th>
      <th>Cím</th>
      <th>Beadás dátuma</th>
      <th>PDF</th>
      <th>Melléklet</th>
      <th>PPT</th>
      <th>Review</th>
      <th>Review2</th>
      <th>PDF törlése</th>
      <th>Melléklet törlése</th>
      <th>PPT törlése</th>


    </tr>
    </thead>
    <tbody class="tbody">
    <tr *ngFor="let thesis of thesesFullData ">
      <td>{{thesis.neptunCode}}</td>
      <td>{{thesis.fullname}}</td>
      <td>{{thesis.supervisorname}}</td>
      <td><span *ngIf="thesis.reviewername != ''; else elseBlock">{{ thesis.reviewername }}</span></td>
      <td>{{ thesis.title }}</td>
      <td>{{thesis.submissionDate}}</td>
      <td><button *ngIf="thesis.pdfUUID != null; else elseBlock" type="button" class="btn btn-light" (click)="downloadFile(thesis.pdfUUID)">Letöltés</button></td>
      <td><button *ngIf="thesis.attachmentUUID != null; else elseBlock" type="button" class="btn btn-light" (click)="downloadFile(thesis.attachmentUUID)">Letöltés</button></td>
      <td><button *ngIf="thesis.pptUUID != null; else elseBlock" type="button" class="btn btn-light" (click)="downloadFile(thesis.pptUUID)">Letöltés</button></td>
      <td><button *ngIf="thesis.reviewUUID != null; else elseBlock" type="button" class="btn btn-light" (click)="downloadFile(thesis.reviewUUID)">Letöltés</button></td>
      <td><button *ngIf="thesis.secondReviewUUID != null; else elseBlock" type="button" class="btn btn-light" (click)="downloadFile(thesis.secondReviewUUID)">Letöltés</button></td>
      <td>
        <button id="deletePdfButton" type="button" class="btn btn-danger" (click)="deletePdfFiles()">PDF törlése</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteZipFiles()">ZIP törlése</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deletePptxFiles()">PPT törlése</button>
      </td>

      <ng-template #elseBlock>Nincs</ng-template>
    </tr>
    </tbody>
  </table>
</div>
