<form #addReviewsForm="ngForm" (ngSubmit)="addFormData(addReviewsForm)">

  <label for="invitationDate">Felkérés ideje:</label>
  <input type="date" ngModel name="invitationDate" id="invitationDate" placeholder="Felkérés ideje">

  <label for="score">Pontszám:</label>
  <input type="number" ngModel name="score" id="score" placeholder="Pontszám">

  <label for="description">Leírás:</label>
  <textarea ngModel name="description" id="description" placeholder="Leírás"></textarea>

  <label for="city">Település:</label>
  <input type="text" ngModel name="city" id="city" placeholder="Település">

  <label for="invitationAcceptionDate">Felkérés elfogadás ideje:</label>
  <input type="date" ngModel name="invitationAcceptionDate" id="invitationAcceptionDate" placeholder="Felkérés elfogadás ideje:">

  <label for="responseDate">Válaszadás ideje:</label>
  <input type="date" ngModel name="responseDate" id="responseDate" placeholder="Válaszadás ideje:">

  <label for="submissionDate">Benyújtás ideje:</label>
  <input type="date" ngModel name="submissionDate" id="submissionDate" placeholder="Benyújtás ideje:">

  <input type="submit" value="Felvitel">

</form>
